# Core functionality - changes here should be rare!
/src/app.py                   @cyberfascinate
/src/backend/database.py      @cyberfascinate
/src/backend/routers/auth.py  @cyberfascinate

# The frontend will need refactored soon to be more object oriented.
/src/static/   @cyberfascinate
